<!DOCTYPE html>
<html lang="en">
<head>
    {{>Links}}
</head>
<body>
    {{>Navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="Images/Rehan.png" width="50%" alt="Rehan🤞" class="img-fluid" title="Rehan">
                        </figure>                        
                    </div>
                    <!-- left header -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcom to Rehan's Page</p>
                        <h1>I am a <span>NodeJS Developer</span> but still at learning stage .</h1> 
                        <a href="https://instagram.com/rehan._.99?igshid=9rwa25rl90cn" target="Rehan"><button>About Me</button></a>                   
                    </div>
                    <!-- right header  -->
                </div>
            </div>
        </div>
    </div>   
    
    <!-- footer code  -->
    {{>Footer}}
</body>
</html>